<div class="container">
<%= simple_form_for @recipe, html: {class: "form-horizontal"} do |f| %>
    <%= f.input :title, placeholder: "Add recipe title", class: "form-control title-form" %>
    <%= f.input :description, placeholder: "Write a recipe description", class: "form-control description-form" %>
    <%= f.input :image, class: "form-control" %>
    <%= f.association :category, as: :select, class: "chosen-select" %>

  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2>Ingredients</h2>
        <%= f.full_error :ingredients %>
        <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render "ingredient_fields", f: ingredient %>
        <% end %>
        <%= link_to_add_association 'Add more ingredients', f, :ingredients,  "data-association-insertion-method": 'after' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2>Directions</h2>
        <%= f.full_error :directions %>
        <%= f.simple_fields_for :directions do |directions| %>
          <%= render "direction_fields", f: directions %>
        <% end %>
        <%= link_to_add_association "Add Step", f, :directions, "data-association-insertion-method": 'after' %>
      </div>
    </div>
  </div>
  <%= f.submit "Save Recipe", class: "btn btn-primary" %>
<% end %>
</div>
