<div class="nutritional-table">
  <div class="title">Nutrition Facts</div>
  <div class="recipe-name"><%= @recipe.title %></div>

  <div class="serving-size">
    Serving Size: <%= weight_per_serving %> g
  </div>
  <div class="no-servings">
    Servings: <input type="number" name="quantity" min="1" class="no-val" value="1"></input>
  </div>
  <div class="thick-bar"></div>
  <div class="amount-per-serving">
    Totals
  </div>
  <div class="thin-bar"></div>
  <div class="calories">
    <div class="c-bold">
      Calories
      <span class="c-thin calories-no">
        <%= calories_per_serving %>
      </span>
    </div>
    <div class="c-fat">
      Calories from Fat
      <span class="c-fat-thin calories-fat-no">
        <%= calories_from_fat_per_serving %>
      </span>
    </div>
  </div>
  <div class="medium-bar"></div>
  <div class="percent-dv">% Daily Value*</div>
  <div class="thin-bar"></div>
  <div class="fat">
    <div class="total_fat">
      <b>Total Fat </b>
      <span class="total-fat-no">
        <%= total_fat_per_serving %>
      </span>
       g
       <span class="dv-percent">
         <span class="dv-total-fat">
           <%= dv_total_fat_per_serving %>
         </span> %
       </span>
     </div>
    <div class="thin-bar-short"></div>
    <div class="sat-fat minor">
      Saturated Fat
      <span class="sat-fat-no">
        <%= sat_fat_per_serving %>
      </span> g
      <span class="dv-percent">
        <span class="dv-sat-fat">
          <%= dv_sat_fat_per_serving %>
        </span> %
      </span>
    </div>
    <div class="thin-bar-short"></div>
    <div class="sat-fat minor">
      <span class="trans">Trans</span>
       Fat
      <span class="trans-fat-no">
        <%= @recipe.trans_fat.present? ? trans_fat_per_serving : 0 %>
      </span> g
    </div>
  </div>
  <div class="thin-bar"></div>
  <div class="cholesterol">
    <b>Cholesterol</b>
    <span class="cholesterol-no">
      <%= cholesterol_per_serving %>
    </span> mg
    <span class="dv-percent">
      <span class="dv-cholesterol">
        <%= dv_cholesterol_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="protein">
    <b>Sodium</b>
    <span class="sodium-no">
      <%= sodium_per_serving %>
    </span> mg
    <span class="dv-percent">
      <span class="dv-sodium">
        <%= dv_sodium_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="carbs">
    <b>Total Carbohydrates </b>
    <span class="total-carbs-no">
      <%= carbs_per_serving %>
    </span> g
    <span class="dv-percent">
      <span class="dv-total-carbs">
        <%= dv_carbs_per_serving %>
      </span> %
    </span>
    <div class="thin-bar-short"></div>
    <div class="fiber minor">Dietary Fiber
      <span class="fiber-no">
        <%= dietary_fiber_per_serving %>
      </span> g
      <span class="dv-percent">
        <span class="dv-fiber">
          <%= dv_dietary_fiber_per_serving %>
        </span> %
      </span>
    </div>
    <div class="thin-bar-short"></div>
    <div class="sugars minor">Sugars
      <span class="sugar-no">
        <%= sugar_per_serving %>
      </span> g
    </div>
  </div>
  <div class="thin-bar"></div>
  <div class="protein">
    <b>Protein </b>
    <span class="protein-no">
      <%= protein_per_serving %>
    </span> g
  </div>
  <div class="thick-bar"></div>
  <div class="dv">
    Vitamin A
    <span class="dv-percent">
      <span class="vit-a-no">
        <%= dv_vitamin_a_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="dv">
    Vitamin C
    <span class="dv-percent">
      <span class="vit-c-no">
        <%= dv_vitamin_c_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="dv">
    Calcium
    <span class="dv-percent">
      <span class="calcium-no">
        <%= dv_calcium_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="dv">
    Iron
    <span class="dv-percent">
      <span class="iron-no">
        <%= dv_iron_per_serving %>
      </span> %
    </span>
  </div>
  <div class="thin-bar"></div>
  <div class="nutrition-comment">* Percent daily values are based on a 2000 calorie diet</div>
</div>
