<div class="all-recipes">
  <div class="section">
    <h2 class="section-header">Appetizer</h2>
    <div class="appetizers">
      <% @appetizers.each do |r| %>
        <%= render "list_recipes", r: r %>
      <% end %>
    </div>
  </div>

  <h2 class="section-header">Entrée</h2>
  <div class="entrees">
    <% @entrees.each do |r| %>
      <%= render "list_recipes", r: r %>
    <% end %>
  </div>

  <h2 class="section-header">Dessert</h2>
  <div class="dessert">
    <% @desserts.each do |r| %>
      <%= render "list_recipes", r: r %>
    <% end %>
  </div>
  <h2 class="section-header">Sides</h2>
  <div class="sides">
    <% @sides.each do |r| %>
      <%= render "list_recipes", r: r %>
    <% end %>
  </div>

  <h2 class="section-header">Bulk Recipes</h2>
  <div class="bulk_recipes">
    <% @bulk_recipes.each do |r| %>
      <%= render "list_recipes", r: r %>
    <% end %>
  </div>

  <h2 class="section-header">Inactive</h2>
  <div class="inactive">
    <% @inactive.each do |r| %>
      <%= render "list_recipes", r: r %>
    <% end %>
  </div>
</div>
