<div class="container">
  <div class="container">
    <div class="col-md-4 recipe-image">
      <%= link_to "Back", recipes_path, class: "btn btn-default" %>
      <% if @recipe.image.url(:large).nil? %>
        <h3>No Image Provided</h3>
      <% else %>
        <%= image_tag @recipe.image.url(:large), class: "img-responsive" %>
      <% end %>
      <div class="tg">
        <%= @recipe.category.name %>
      </div>
      <h1 class="recipe-title"><%= @recipe.title %></h1>
      <p><%= @recipe.description %></p>

      <br>
      <%= link_to '<i class="fa fa-pencil x4"></i>'.html_safe, edit_recipe_path(@recipe) %>
      <%= link_to '<i class="fa fa-trash x4"></i>'.html_safe, recipe_path(@recipe), method: :delete, data: { confirm: "are you sure?"} %>

    </div>
    <div class="col-md-4 nut-recommendation">
      <%= render 'nutrition_recommendation' %>
    </div>
    <div class="col-md-4">
      <%= render 'nutritional_table' %>
    </div>
  </div>

  <div class="container">
    <div class="col-md-6 ingredients">
      <h2>Ingredients</h2>
      <table class="table table-striped table-hover">
        <tr>
          <th>Qty</th>
          <th>Unit</th>
          <th>Ingredient</th>
        </tr>
        <% @recipe.ingredients.each do |i| %>
          <tr>
            <td><p><%= i.qty %></p></td>
            <td><p><%= i.unit %></p></td>
            <td><p><%= i.name %></p></td>
          <tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-6 directions">
      <h2>Directions</h2>
      <div class="direction-underline"></div>
      <div class="inner-directions">
        <ol>
          <% @recipe.directions.order(:created_at).each do |d| %>
            <li><%= d.instruction %></li>
          <hr>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
