<div class="container">
  <div class="container">
    <div class="col-md-4 recipe-image">
      <%= link_to "Back", recipes_path, class: "btn btn-default" %>
      <%= link_to '<i class="fa fa-trash x4"></i>'.html_safe, recipe_path(@recipe), method: :delete, data: { confirm: "are you sure?"}, class: "show-trash" %>
      <% if @recipe.image.url(:large).nil? %>
        <h3>No Image Provided</h3>
      <% else %>
        <%= image_tag @recipe.image.url(:large), class: "img-responsive img-recipe" %>
      <% end %>
      <div class="recipe-category">
        <%= @recipe.category.name %>
      </div>
      <div data-toggle="tooltip" data-placement="bottom" title="Edit the title...">
        <h1><%= best_in_place @recipe, :title, as: :input, :html_attrs => { :style => 'width:100%;' } %></h1>
      </div>

      <p data-toggle="tooltip" data-placement="bottom" title="Edit the description..."><%= best_in_place @recipe, :description, as: :input, :html_attrs => { :style => 'width:100%;' } %></p>

      <br>

    </div>
    <div class="col-md-4 nut-recommendation">
      <%= render 'nutrition_recommendation' %>
    </div>
    <div class="col-md-4">
      <%= render 'nutritional_table' %>
    </div>
  </div>

  <div class="container ingredient-directions">
    <div class="col-md-6 ingredients">

      <h2>Ingredients</h2>
      <div class="ingredient-underline"></div>
      <table class="table table-striped table-hover">
        <tr>
          <th>Qty</th>
          <th>Unit</th>
          <th>Ingredient</th>
          <!-- <th>Edit</th> -->
          <th>Delete</th>

        </tr>
        <div class="each-ingredient">
          <% @recipe.ingredients.each do |i| %>
            <%= render partial: 'ingredients/ingredient', locals: { i: i } %>
          <% end %>
        </div>

      </table>

      <div class="ingredient_form">
        <%= render '/ingredients/ingredient_fields' %>
      </div>

    </div>

    <div class="col-md-6 directions">
      <h2>Directions</h2>
      <div class="direction-underline"></div>
      <div class="inner-directions">
        <ol>
          <div class="direction-form">
            <% @recipe.directions.order(:created_at).each do |d| %>
              <%= render partial: 'directions/directions', locals: { d: d } %>
            <% end %>
          </div>
        </ol>
        <div class="col-md-10">
          <%= render 'directions/direction_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
