<div class="container">
  <div class="container">
    <div class="col-md-4 recipe-image">
      <%= link_to "Back", recipes_path, class: "btn btn-default" %>
      <% if can? :destroy, @recipe %>
        <%= link_to '<i class="fa fa-trash x4"></i>'.html_safe, recipe_path(@recipe), method: :delete, data: { confirm: "are you sure?"}, class: "show-icon" %>
      <% end %>
      <% if can? :edit, @recipe %>
        <%= link_to '<i class="fa fa-pencil x4"></i>'.html_safe, edit_recipe_path(@recipe), class: "show-icon" %>
      <% end %>
      <% if @recipe.image.url(:large).nil? %>
        <h3>No Image Provided</h3>
      <% else %>
        <%= image_tag @recipe.image.url(:large), class: "img-responsive img-recipe" %>
      <% end %>
      <div class="recipe-category">
        <%= @recipe.category.name %>
      </div>
      <% if can? :edit, @recipe %>
        <div data-toggle="tooltip" data-placement="bottom" title="Edit the title...">
          <h1><%= best_in_place @recipe, :title, as: :input, :html_attrs => { :style => 'width:100%;' } %></h1>
        </div>
      <% else %>
        <h1><%= @recipe.title %></h1>
      <% end %>

      <% if can? :edit, @recipe %>
        <p data-toggle="tooltip" data-placement="bottom" title="Edit the description..."><%= best_in_place @recipe, :description, as: :input, :html_attrs => { :style => 'width:100%;' } %></p>
      <% else %>
        <p><%= @recipe.description %></p>
      <% end %>
      <br>
    </div>
    <div class="col-md-4 nut-recommendation">
      <%= render 'nutrition_recommendation' %>
    </div>
    <div class="col-md-4 nut-table">
      <%= render 'nutritional_table' %>
    </div>
  </div>

  <div class="container ingredient-directions">
      <div class="col-xs-12">
        <div class="col-xs-4 servings-number">
          <p data-toggle="tooltip" data-placement="bottom" title="Number of servings per recipe...">Servings per recipe: <%= best_in_place @recipe, :servings, as: :input, :html_attrs => { :style => 'width:100%;' } %></p>
        </div>
      </div>
    <div class="col-md-6 ingredients">
      <h2>Ingredients</h2>
      <table class="table table-striped table-hover">
        <tbody class="each-ingredient">
        <tr>
          <th>Qty</th>
          <th>Unit</th>
          <th>Ingredient</th>
          <% if can? :destroy, @recipe %>
            <th>Delete</th>
          <% end %>
        </tr>
          <% @recipe.ingredients.each do |ingredient| %>
            <%= render partial: 'ingredients/ingredients', locals: { ingredient: ingredient } %>
          <% end %>
        </tbody>
      </table>
      <div class="ingredient-form">
      <% if can? :edit, @recipe %>
        <%= render '/ingredients/ingredient_fields' %>
      <% end %>
      </div>
    </div>

    <div class="col-md-6 directions">
      <h2>Directions</h2>
      <div class="direction-underline"></div>
      <div class="inner-directions">
          <ol>
            <div class="each-direction">
              <% @recipe.directions.order(:created_at).each do |direction| %>
                <%= render partial: 'directions/directions', locals: { direction: direction } %>
              <% end %>
            </div>
          </ol>
        <div class="col-md-10">
          <div class="direction_form">
            <% if can? :edit, @recipe %>
              <%= render 'directions/direction_fields' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
