<div class="container">
  <div class="container">
    <div class="col-md-4 recipe-image">
      <%= link_to "Back", recipes_path, class: "btn btn-default" %>
      <% if @recipe.image.url(:large).nil? %>
        <h3>No Image Provided</h3>
      <% else %>
        <%= image_tag @recipe.image.url(:large), class: "img-responsive" %>
      <% end %>
      <div class="tg">
        <%= @recipe.category.name %>
      </div>
      <h1 class="recipe-title"><%= best_in_place @recipe, :title, as: :input, :html_attrs => { :style => 'width:100%;' } %></h1>

      <p><%= best_in_place @recipe, :description, as: :input, :html_attrs => { :style => 'width:100%;' } %></p>

      <br>
      <%= link_to '<i class="fa fa-trash x4"></i>'.html_safe, recipe_path(@recipe), method: :delete, data: { confirm: "are you sure?"} %>

    </div>
    <div class="col-md-4 nut-recommendation">
      <%= render 'nutrition_recommendation' %>
    </div>
    <div class="col-md-4">
      <%= render 'nutritional_table' %>
    </div>
  </div>

  <div class="container">
    <div class="col-md-6 ingredients">
      <h2>Ingredients</h2>
      <table class="table table-striped table-hover">
        <tr>
          <th>Qty</th>
          <th>Unit</th>
          <th>Ingredient</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
        <% @recipe.ingredients.each do |i| %>
          <tr>
            <td><p><%= i.qty %></p></td>
            <td><p><%= i.unit %></p></td>
            <td><p><%= i.name %></p></td>
            <td><%= link_to '<i class="fa fa-pencil x4"></i>'.html_safe, edit_recipe_ingredient_path(@recipe, i) %></td>
            <td><%= link_to '<i class="fa fa-trash x4"></i>'.html_safe, recipe_ingredient_path(@recipe, i), method: :delete, data: { confirm: "are you sure?"} %></td>
          <tr>
        <% end %>
      </table>

    <%= simple_form_for [@recipe, @ingredient], html: {class: "form-horizontal"} do |f| %>
<div class="ingredient">
      <%= f.input :qty, placeholder: "qty in grams", input_html: { class: 'form-input form-control'} %>
      <%= f.input :unit, placeholder: "g", input_html: { class: 'form-input form-control' } %>
      <div class="ui-autocomplete-input">
        <%= f.input :name, input_html: { class: 'form-input form-control search-term search-items', id: 'search-items' } %>
      </div>
      <%= f.input :calories, input_html: { class: 'form-input form-control calories-field' }, as: :string, as: :hidden %>
      <%= f.input :total_fat, input_html: { class: 'form-input form-control total-fat-field' }, as: :string, as: :hidden %>
      <%= f.input :saturated_fat, input_html: { class: 'form-input form-control saturated-fat-field' }, as: :string, as: :hidden %>
      <%= f.input :trans_fat, input_html: { class: 'form-input form-control trans-fat-field' }, as: :string, as: :hidden %>
      <%= f.input :cholesterol, input_html: { class: 'form-input form-control cholesterol-field' }, as: :string, as: :hidden %>
      <%= f.input :sodium, input_html: { class: 'form-input form-control sodium-field' }, as: :string, as: :hidden %>
      <%= f.input :total_carbs, input_html: { class: 'form-input form-control total-carbs-field' }, as: :string, as: :hidden %>
      <%= f.input :dietary_fiber, input_html: { class: 'form-input form-control dietary-fiber-field' }, as: :string, as: :hidden %>
      <%= f.input :sugars, input_html: { class: 'form-input form-control sugars-field' }, as: :string, as: :hidden %>
      <%= f.input :protein, input_html: { class: 'form-input form-control protein-field' }, as: :string, as: :hidden %>
      <%= f.input :vitamin_a, input_html: { class: 'form-input form-control vitamin-a-field' }, as: :string, as: :hidden %>
      <%= f.input :vitamin_c, input_html: { class: 'form-input form-control vitamin-c-field' }, as: :string, as: :hidden %>
      <%= f.input :calcium, input_html: { class: 'form-input form-control calcium-field' }, as: :string, as: :hidden %>
      <%= f.input :iron, input_html: { class: 'form-input form-control iron-field' }, as: :string, as: :hidden %>
      <%= f.input :nutritionix_id, input_html: { class: 'form-input form-control ingredient-id-field' }, as: :string, as: :hidden %>
      <%= f.input :serving_weight, input_html: { class: 'form-input form-control serving-weight-field' }, as: :string, as: :hidden %>
      <%= f.submit "Save Ingredient", class: "btn btn-primary"  %>
    </div>
    <% end %>
    </div>

    <div class="col-md-6 directions">
      <h2>Directions</h2>
      <div class="direction-underline"></div>
      <div class="inner-directions">
        <ol>
          <% @recipe.directions.order(:created_at).each do |d| %>
            <li><%= d.instruction %></li>
          <hr>
          <% end %>
        </ol>
        <%= simple_form_for [@recipe, @direction] do |f| %>
          <%= f.input :instruction, label: "Directions", placeholder: "add directions here...", input_html: { class: 'form-input form-control' } %>
          <%= f.submit "Save direction", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
