<%= simple_form_for [@recipe, @ingredient], html: {class: "form-inline form-horizontal"} do |f| %>
<div class="ingredient">
  <div class="col-xs-2">
    <%= f.input :qty, label: false, placeholder: "qty", input_html: { class: 'form-input form-control qty-input', :style=> 'width: 55px; padding: 3px; text-align: center'} %>
  </div>
  <div class="col-xs-2">
    <%= f.input :unit, label: false, placeholder: "g", input_html: { class: 'form-input form-control unit-input', :style=> 'width: 30px; padding: 5px; text-align: center' } %>
  </div>
  <div class="col-xs-5">
    <%= f.input :name, label: false, placeholder: "Search Ingredients", input_html: { class: 'form-input form-control search-term search-items', id: 'search-items', :style=> 'width: 190px; padding: 5px'  } %>
  </div>

  <%= f.input :calories, input_html: { class: 'form-input form-control calories-field' }, as: :string %>
  <%= f.input :total_fat, input_html: { class: 'form-input form-control total-fat-field' }, as: :string %>
  <%= f.input :saturated_fat, input_html: { class: 'form-input form-control saturated-fat-field' }, as: :string, as: :hidden %>
  <%= f.input :trans_fat, input_html: { class: 'form-input form-control trans-fat-field' }, as: :string, as: :hidden %>
  <%= f.input :cholesterol, input_html: { class: 'form-input form-control cholesterol-field' }, as: :string, as: :hidden %>
  <%= f.input :sodium, input_html: { class: 'form-input form-control sodium-field' }, as: :string, as: :hidden %>
  <%= f.input :total_carbs, input_html: { class: 'form-input form-control total-carbs-field' }, as: :string, as: :hidden %>
  <%= f.input :dietary_fiber, input_html: { class: 'form-input form-control dietary-fiber-field' }, as: :string, as: :hidden %>
  <%= f.input :sugars, input_html: { class: 'form-input form-control sugars-field' }, as: :string, as: :hidden %>
  <%= f.input :protein, input_html: { class: 'form-input form-control protein-field' }, as: :string, as: :hidden %>
  <%= f.input :vitamin_a, input_html: { class: 'form-input form-control vitamin-a-field' }, as: :string, as: :hidden %>
  <%= f.input :vitamin_c, input_html: { class: 'form-input form-control vitamin-c-field' }, as: :string, as: :hidden %>
  <%= f.input :calcium, input_html: { class: 'form-input form-control calcium-field' }, as: :string, as: :hidden %>
  <%= f.input :iron, input_html: { class: 'form-input form-control iron-field' }, as: :string, as: :hidden %>
  <%= f.input :nutritionix_id, input_html: { class: 'form-input form-control ingredient-id-field' }, as: :string, as: :hidden %>
  <%= f.input :serving_weight, input_html: { class: 'form-input form-control serving-weight-field' }, as: :string %>
  <div class="col-xs-3">
    <%= f.submit "Add", class: "btn btn-primary"  %>
  </div>
</div>
<% end %>
